:root {
    --bg-dark: #fdfefe;        /* Branco levemente azulado */
    --bg-accent: #ffffff;      /* Branco puro */
    --detail-red: #a5b4fc;     /* Azul pastel */
    --detail-yellow: #f1f5f9;  /* Cinza bem clarinho */
    --light: #475569;          /* Texto suave (não preto) */
}

body {
    height: 100vh;
    background-color: var(--bg-dark);
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--light);
    display: flex;
    flex-direction: column;

    justify-content: space-between;
}

/* HEADER */
header {
    width: 100%;
    height: 7vh;
    background-color: #ffffffcc; /* leve transparência */
    backdrop-filter: blur(6px);
    border-bottom: 1px solid var(--detail-yellow);
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

header h1 {
    color: var(--light);
    margin: 0;
    font-size: 1.8rem;
}

/* NAV */
nav {
    display: flex;
    gap: 10px;
    padding: 10px 80px;
    background-color: transparent;
}

/* BOTÕES */
button {
    background-color: var(--detail-red);
    color: #1e293b;
    font-size: 15px;
    width: 120px;
    height: 50px;
    border: none;
    padding: 8px 14px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    opacity: 0.8;
    transform: scale(1.03);
}

.buttonP{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.Falta{
    background-color: black;
}

.apresentation {
    display: flex;
    flex-direction: row;
    gap: 1vh;
}

.icon {
    background-color: var(--light);
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/* MAIN */
main {
    width: 100%;
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
    padding: 20px;
}

.distancia{
    display: flex;
    justify-content: space-evenly;
}

.tabela{
    width: 100%;
    height: 100%;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: separate;
    border-spacing: 0;
    background-color: var(--bg-accent);
    border: 5px solid var(--detail-yellow);
    border-radius: 12px;
    overflow: hidden;
    display: flexbox;
}

.espacoPresenca{
    border: 1px solid black;
    height: 25px;
    width: 25px;
    border-radius: 50%
}

.clicado{
    background-color: #5674fa;
}

.ordem{
    
}

.Legenda{
    width: 80%;
    height: 20vh;
    margin: 20px auto;
    border-collapse: separate;
    border-spacing: 0;
    background-color: var(--bg-accent);
    border: 5px solid var(--detail-yellow);
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center

}

tr {
    width: ;
    display: flex;
    min-width: 200px; /* Garante que a coluna não fique esmagada */
     
}

th{
    background-color:#a5b4fc ;
}

th, td {
    width: 20%;
    padding: 20px;
    border-bottom: 1px solid var(--detail-yellow);
    border-right: 1px solid var(--detail-yellow);
    box-sizing: border-box;
}





tr:nth-child(even) {
    background-color: #fcfdfe; 
}

tr:hover {
    background-color: var(--detail-yellow);
    transition: 0.2s;
}


tr:last-child td {
    border-bottom: none;
}


.logoif{
    width: 600px;
    height: 700px;
}

.LogoIF{
    margin-right: 250px;
}

.icone{
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    margin-top: 10px;
}

.loginCard form{
    height: 70vh;
    width: 40vh;
    box-shadow: 12px 12px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    position: absolute;
    top: 15%;
    left: 40%;
}

.info{
    width: 22vh;
    border: 1px solid #5674fa;
    color: #5674fa;
    font-weight: 500;
    font-family: sans-serif;   
}

input::placeholder {
    color: var(--light);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    opacity: 0.7;
}

form input {
    padding: 12px;
    border: 1px solid var(--detail-yellow);
    border-radius: 8px;
    outline: none;
    color: var(--light);
}







/* ARTICLE (CARD GRANDE) */
article {
    width: 300px;
    height: 680px;
    background-color: var(--bg-accent);
    border: 1px solid var(--detail-yellow);
    box-shadow: 10px 10px 1px rgba(2, 2, 2, 0.04);
    border-radius: 16px; /* mais arredondado */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    padding: 20px;
    transition: 0.3s;
}

article:hover {
    transform: translateY(-5px);
}

.cardF{
    border: 5px solid var(--detail-yellow);
    border-radius: 16px;
    height: 25%;
    width: 90%;
}

.cardF:hover{
    transform: translateY(-5px);
}



/* CARD INTERNO */
.card {
    width: 100%;
    height: 120px;
    background-color: #e0f2fe; 
    border-radius: 10px;
}

/* TEXTO */


h3{
    font-size: 1.25rem;
    margin-bottom: 8px;
}


p{
    font-size: 1rem;
    line-height: 1.5;
}


h2, p {
    color: var(--light);
}

.botaoVoltar {
    position: absolute;
    top: 92%;    /* Distância do topo do card */
    left: 4%;   /* Distância da esquerda do card */
    
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 20px; /* Diminuí um pouco para o texto caber melhor no círculo */
    color: #1e293b;
    background-color: var(--detail-red); /* Cor que você definiu antes */
    
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    z-index: 10; /* Garante que ele fique por cima de tudo */
}

.botaoVoltar:hover {
    transform: scale(1.1);
    transition: 0.2s;
}

.spaceButtons{
    width: 100%;
    margin-top: 80px;
    padding-bottom: 10px;
    padding-left: 10px;

}

.cadastrar {
    color: #0066cc;               
    text-decoration: none;         
    font-weight: 500;            
    transition: all 0.3s ease;   
    font-family: sans-serif;   
    padding-left: 5px;
}

.cadastrar:hover {
    color: #004a94;    
    text-decoration: underline;
    text-underline-offset: 4px;
}